.card {
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
    border: rem(1px) solid #E7DAED;
    background-color: #FAFAFA;
    border-radius: 0rem;

    @mixin rtl {
        text-align: justify;
    }
}

.banner {
    padding-left: rem(60px);
    padding-right: 0rem;
    padding-top: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);

    @mixin rtl {
        padding-right: rem(60px);
        padding-left: 0rem;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

.content {
    &>p:last-child {
        margin-bottom: 0;
    }
}