.card {
  border: rem(1px) solid rgba(36, 169, 225, 0.3);
}


.indexColor{
  background: var(--mantine-primary-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  font-size: 25px;
}