.leftIconPosition{
    position: absolute;
    top: 0;
    left: 0;
}


.rightIconPosition{
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: scaleX(-1); transform: scaleX(-1);
}


.embla {
    --slide-size: 100%;
    padding: 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(5rem * var(--mantine-scale));
    position: relative;
  }


  .emblaThumbs {
    --slide-size-thumbs: 20%;
    padding: 1.6rem;
    width: 100%;
  }


  .emblaViewport {
    overflow: hidden;
  }

  .emblaContainer {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
  }

  .emblaSlideThumbs {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    position: relative;
  }

  .emblaSlide {
    display: flex;
    justify-content: center;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    position: relative;
  }
  
  .emblaScale {
    height: 100%;
    position: relative;
    backface-visibility: hidden;
  }